@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
	font-family: "Lato", sans serif;
	font-size: 125%;
	margin: 0 auto;
	max-width: 1000px;
	padding: 10px;
}

#title {
	text-align: center;
}
#main_audio {
	width: 100%;
}

h2 {
	margin-top: 70px;
	margin-bottom: 50px;
}
h3 {
	margin-top: 50px;
	margin-bottom: 30px;
}

img {
	border-radius: 5px;
}
img.img100 {
	width: 100%;
}
img.img80 {
	width: 80%;
}

figure {
	/* margin-left: 20px; */
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding: 20px;
	margin: 10px auto;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.appendix_tag {
	font-size: 120%;
	font-weight: bold;
	font-color: grey;
}

td {
	padding: 10px;
}

figure > img {
	margin: 0 auto;
}
figure > audio, figure > table {
	margin: 0 auto;
	width: 80%;
}
figure > video {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
	border: 1px solid grey;
	width: 96%;
}

figcaption {
	/* display: block; */
	/* padding: 5px; */
	padding: 0px;
	padding-bottom: 5px;
	margin: 10px auto;
	text-align: center;
}
figcaption.highlight {
	color: magenta;
	font-weight: bold;
}
area:hover{
	cursor:pointer;
}
